:root {
  --color-main: #2121219c;
  --color-weather-date: rgb(30, 14, 177);
  --color-background-border: hsla(0, 30%, 96%, 0.361);
  --branding-color: #6c63ff;
  --font-logo: "Arizonia", cursive;
  --btn-shadow: 3px 4px 10px rgba(37, 39, 89, 0.8);
  --focus-shadow: 0px 0px 3px 1px var(--bs-primary);
  --text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
  --color-orang: #fe7802;
}
.App {
  font-family: sans-serif;
  text-shadow: var(--text-shadow);
}

.App-header {
  display: flex;
  flex-direction: column;
}
h1 {
  color: var(--color-main);
  font-size: 36px;
  font-weight: 100;
  line-height: 36px;
  margin: 20px 0 4px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: var(--color-weather-date);
  opacity: 0.6;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
li span {
  color: var(--color-weather-date);
}

li::first-letter {
  text-transform: capitalize;
}

a:hover {
  color: white !important;
}
.item-city-favorites a {
  color: var(--color-weather-date);
  text-decoration: none;
  background: transparent;
  border: none !important;
  padding: 1px 2px;
}

.Weather-container {
  border: 1px solid #dadde1;
  border-radius: 10px;
  box-shadow: var(--btn-shadow);
  margin: 20px auto 10px;
  width: 600px;
  height: 420px;
}

.logo {
  font-family: var(--font-logo);
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-shadow: var(--text-shadow);
  color: var(--branding-color);
  text-decoration: none;
  text-transform: capitalize;
  padding: 1px 16px;
  background: var(--color-background-border);
  box-shadow: var(--btn-shadow);
  border-radius: 40px 15px;
  border: 4px double var(--branding-color);
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.item-city-favorites {
  display: inline;
  font-size: 16px;
  padding: 0 8px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 5px;
  position: relative;
  top: -10px;
}
.search-input {
  border-radius: 18px;
  background: var(--color-background-border) !important;
  box-shadow: var(--btn-shadow);
}
.search-input:focus {
  border-radius: 18px;
  box-shadow: var(--focus-shadow);
}
.search-input::placeholder {
  color: rgba(39, 33, 66, 0.4);
}

.location-btn {
  padding-left: 0;
  padding-right: 0;
  border-radius: 18px;
  border: none;
  background: var(--color-background-border);
  box-shadow: var(--btn-shadow);
}
.country {
  display: flex;
  align-items: baseline;
  color: var(--color-weather-date);
}
.Weather-temperature strong {
  color: var(--color-main);
  font-size: 64px;
  font-weight: 400;
  line-height: 0.9;
  margin-left: 16px;
}
.Weather-temperature a {
  color: var(--color-weather-date);
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
}
.weather-forecast {
  margin-bottom: 15px;
  text-align: center;
}
.weather-forecast-date {
  color: var(--color-weather-date);
  font-size: 16px;
  box-shadow: var(--btn-shadow);
  border-radius: 10px;
  border-color: var(--color-background-border);
}

.weather-forecast-min {
  opacity: 0.5;
}

footer {
  font-size: 12px;
  text-align: center;
}
