:root {
  --picture-opasity: linear-gradient(
    hsla(0, 0%, 100%, 0.2),
    hsla(0, 0%, 100%, 0.4)
  );
}
.picture_01,
.picture_02,
.picture_03,
.picture_04,
.picture_09,
.picture_10,
.picture_11,
.picture_13,
.picture_50 {
  border-radius: 10px;
  width: 600px;
  height: 100%;
  /* height: 420px; */
  /* min-width: 300px; */
  /* background-image: url(./img/picture_09.jpg) no-repeat fixed; */
  background-size: cover;
}
.picture_01 {
  background-image: url(./img/01_clear_sky.jpg);
  background-position-y: -75px;
}
.picture_01 .clouds,
.picture_09 .clouds,
.picture_10 .clouds,
.picture_11 .clouds,
.picture_13 .clouds,
.picture_50 .clouds {
  border-radius: 10px;
  height: 100%;
  background: var(--picture-opasity);
  padding: 20px 32px 15px;
}
.picture_02 {
  background-image: var(--picture-opasity), url(./img/02_few_clouds.jpg);
}
.picture_03 {
  background-image: var(--picture-opasity), url(./img/03_scattered_clouds.jpg);
}
.picture_04 {
  background-image: var(--picture-opasity), url(./img/04_broken_clouds.jpg);
}

.picture_02 .clouds,
.picture_03 .clouds,
.picture_04 .clouds {
  border-radius: 10px;
  /* width: 600px; */
  height: 100%;
  /* min-width: 300px; */
  background-image: url(./img/cloud.png);
  background-size: cover;
  animation: animate 100s linear infinite;
  padding: 20px 32px 15px;
}
@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 5440px;
  }
}
.picture_09 {
  background-image: url(./img/09_rain.gif);
}
.picture_10 {
  background-image: url(./img/10_shower_rain-260.gif);
  background-position-y: -320px;
}
.picture_11 {
  background-image: url(./img/11_thunderstorm-430.gif);
  background-position-y: -416px;
}
.picture_13 {
  background-image: url(./img/13_snow-320.gif);
  background-position-y: -286px;
}
.picture_50 {
  background-image: url(./img/50_mist.jpg);
}
